.features{
  overflow: hidden;
  padding: 50px 0 0 0;
  background-color: #f4f4f4;
}
.row{
  padding: 20px 0;
}

.features-image{
  position: relative;
}

.featuresH2{
  padding: 10px 20px;
  color: #8d81ac;
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
}

.social-block{
  padding: 50px 0 0 0;
  margin: auto;
  max-width: 900px;
}